#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	find . | grep -E "(__pycache__|\.pyc|\.pyo)$$" | xargs rm -rf
	rm -rf kathara.build
	rm -rf kathara.dist

override_dh_auto_configure:
	python3 -m pip install -r requirements.txt

override_dh_auto_build:
	python3 -m nuitka --follow-imports --standalone --include-plugin-directory=Resources kathara.py

override_dh_auto_install:
	rm -rf $(CURDIR)/debian/kathara/usr/lib/kathara/*
	cp -r $(CURDIR)/kathara.dist/* $(CURDIR)/debian/kathara/usr/lib/kathara/
	chmod 400 $(CURDIR)/debian/kathara/usr/lib/kathara/*.so*
	ls -al $(CURDIR)/debian/kathara/usr/lib/kathara
	chmod 555 $(CURDIR)/debian/kathara/usr/lib/kathara/kathara
	

override_dh_strip:
	rm -f $(CURDIR)/kathara.dist/libbz2.so.1.0
	rm -f $(CURDIR)/kathara.dist/libexpat.so.1
	rm -f $(CURDIR)/kathara.dist/libtinfo.so.6
	rm -f $(CURDIR)/kathara.dist/libz.so.1
