Source: kathara
Maintainer: Kathara Team <contact@kathara.org>
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 10),
	python3 (>= 3.5.0),
	python3-pip (>= 9.0.0),
	python3-dev (>= 3.5.0),
	python3-setuptools (>=33.1.1),
	bash-completion (>=1:2.8)
Vcs-Git: https://github.com/KatharaFramework/Kathara.git
Vcs-Browser: https://github.com/KatharaFramework/Kathara
Homepage: https://www.kathara.org/

Package: kathara
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: docker.io (>= 17.03.2) | docker-ce (>= 17.03.2), xterm
Description: Network emulation tool.
	It is an implementation of the notorious Netkit using Python.  
	Ten times faster than Netkit and more than 100 times lighter,
	the framework has the performances to run in production.
