#!/usr/bin/make -f

export PATH:=/home/lollo/.local/bin:$(PATH)

%:
	dh $@

override_dh_auto_clean:
	find . | grep -E "(__pycache__|\.pyc|\.pyo)$$" | xargs rm -rf
	rm -rf build
	rm -rf dist

override_dh_auto_build:
	pyinstaller kathara.spec

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/kathara/usr/lib/kathara
	cp -r $(CURDIR)/dist/kathara $(CURDIR)/debian/kathara/usr/lib/
	chmod 400 $(CURDIR)/debian/kathara/usr/lib/kathara/*.so*
	ls -al $(CURDIR)/debian/kathara/usr/lib/kathara