binaryornot>=0.4.4;
docker>=4.0.2;
coloredlogs>=10.0;
terminaltables>=3.1.0;
requests>=2.22.0;
python-slugify>=4.0.0;
text-unidecode>=1.3;
appscript>=1.1.0; sys_platform == 'darwin'
pypiwin32>=223; sys_platform == 'win32'
